<ul class="posts">
    {% for report in reports %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.salesperson',name=report.master.name) }}">
                <img class="img-rounded profile-thumbnail" src="{{ report.master.gravatar(size=20) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-author">
                <a href="{{ url_for('.salesperson',name=report.master.name) }}">
                    {{ report.master.name }}
                </a>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p>Locks</p>
                </div>
                <div class="col-md-2">
                    <p>Stocks</p>
                </div>
                <div class="col-md-2">
                    <p>Barrels</p>
                </div>
                <div class="col-md-2">
                    <p>Total</p>
                </div>
                <div class="col-md-2">
                    <p>Commission</p>
                </div>
                <div class="col-md-2">
                    <p>Date</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p>{{ report.locks }}</p>
                </div>
                <div class="col-md-2">
                    <p>{{ report.stocks }}</p>
                </div>
                <div class="col-md-2">
                    <p>{{ report.barrels }}</p>
                </div>
                <div class="col-md-2">
                    <p>{{ report.total }}</p>
                </div>
                <div class="col-md-2">
                    <p>{{ report.commission }}</p>
                </div>
                <div class="col-md-2">
                    <p>{{ '{}年{}月'.format(report.year,report.month) }}</p>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>