<ul class="posts">
    {% for s in salespersons %}
    <li class="post">
        <div class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.salesperson',name=s.name) }}">
                <img class="img-rounded profile-thumbnail" src="{{ s.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-author">
                <a href="{{ url_for('.salesperson',name=s.name) }}">
                    {{ s.name }}
                </a>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <a {% if not s.goods.first() or not s.goods.first().canSupply() %} class="btn disabled"
                       {% else %} class="btn btn-primary"
                       {% endif %} href="{{ url_for('.supply',name=user.name,s=s.name) }}">Supply</a>
                </div>
                <div class="col-md-2">
                    <a {% if not s.canCommission(name=s.name) %} class="btn disabled"
                       {% else %} class="btn btn-primary"
                       {% endif %} href="{{ url_for('.commission',name=user.name,s=s.name) }}">Commission</a>
                </div>
            </div>
        </div>
    </div>
    </li>
    {% endfor %}
</ul>